/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background: url('images/still-life-cozy-house-with-toys.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.2em;
}

.nav-link:hover {
    color: #FFD700;
}

.container {
    text-align: center;
    padding: 50px 20px;
    margin-top: 5em;
}

.content {
    display: flex;
    padding: 20px;
    margin-top: 7em; /* Adjust for fixed header */
    flex: 1; /* Allow the content to take up remaining space */
    justify-content: center; /* Center the content */
}

/* Position the form at the top right corner and make it square-shaped */
.form-container {
    position: fixed;
    top: 100px; /* Adjusted for header */
    right: 20px;
    width: 350px; /* Slightly increased width */
    height: calc(100vh - 200px); /* Adjust height to fit between header and footer */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for better visibility */
    border-radius: 8px;
    background-color: white; /* Ensure the form has a white background */
    padding: 20px; /* Add padding for better spacing */
    overflow-y: auto; /* Allow scrolling if form content exceeds container height */
    z-index: 2000; /* Ensure form is on top of other content */
}


/* Form styling */
form {
    background-color: white;
    padding: 10px; /* Adjust padding to make form smaller */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form select {
    width: 100%;
    padding: 8px; /* Adjust padding to make form smaller */
    margin-bottom: 15px; /* Adjust margin to make form smaller */
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
